# **Tarea Nº 2**

Curso:          Fundamentos de Programación en Python para las CCSS y la Gestión Pública

Profesor:       Víctor Fuentes Campos

- Fecha y hora de entrega: Lunes 9 de diciembre, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Gabriel Vargas ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom

## **Vuelos, aerolíneas y aeropuertos al detalle**

1. Importa el conjunto de datos `flights.csv`. Encuentra todos los vuelos que:

    a. Tuvieron un retraso de llegada de tres horas o más.

    b. Volaron a Houston (IAH o HOU).

    c. Fueron operados por United, American o Southwest.

    d. Partieron en primavera (marzo, abril y junio).

In [5]:
!pip install pyreadstat

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyreadstat in c:\users\gabriel\appdata\roaming\python\python312\site-packages (1.2.8)
Requirement already satisfied: pandas>=1.2.0 in c:\users\gabriel\appdata\roaming\python\python312\site-packages (from pyreadstat) (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gabriel\appdata\roaming\python\python312\site-packages (from pandas>=1.2.0->pyreadstat) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gabriel\appdata\roaming\python\python312\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gabriel\appdata\roaming\python\python312\site-packages (from pandas>=1.2.0->pyreadstat) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gabriel\appdata\roaming\python\python312\site-packages (from pandas>=1.2.0->pyreadstat) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\gabriel\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd

In [11]:
# Solución
flights=pd.read_csv("flights.csv")
print(flights)

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
0                1  2013      1    1     517.0             515        2.0
1                2  2013      1    1     533.0             529        4.0
2                3  2013      1    1     542.0             540        2.0
3                4  2013      1    1     544.0             545       -1.0
4                5  2013      1    1     554.0             600       -6.0
...            ...   ...    ...  ...       ...             ...        ...
336771      336772  2013      9   30       NaN            1455        NaN
336772      336773  2013      9   30       NaN            2200        NaN
336773      336774  2013      9   30       NaN            1210        NaN
336774      336775  2013      9   30       NaN            1159        NaN
336775      336776  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin  \
0          830.0             819       11.0      UA    1545  N14228    EWR
1          850.0             830       20.0      UA    1714  N24211    LGA
2          923.0             850       33.0      AA    1141  N619AA    JFK
3         1004.0            1022      -18.0      B6     725  N804JB    JFK
4          812.0             837      -25.0      DL     461  N668DN    LGA
...          ...             ...        ...     ...     ...     ...    ...
336771       NaN            1634        NaN      9E    3393     NaN    JFK
336772       NaN            2312        NaN      9E    3525     NaN    LGA
336773       NaN            1330        NaN      MQ    3461  N535MQ    LGA
336774       NaN            1344        NaN      MQ    3572  N511MQ    LGA
336775       NaN            1020        NaN      MQ    3531  N839MQ    LGA

       dest  air_time  distance  hour  minute            time_hour
0       IAH     227.0      1400     5      15  2013-01-01 05:00:00
1       IAH     227.0      1416     5      29  2013-01-01 05:00:00
2       MIA     160.0      1089     5      40  2013-01-01 05:00:00
3       BQN     183.0      1576     5      45  2013-01-01 05:00:00
4       ATL     116.0       762     6       0  2013-01-01 06:00:00
...     ...       ...       ...   ...     ...                  ...
336771  DCA       NaN       213    14      55  2013-09-30 14:00:00
336772  SYR       NaN       198    22       0  2013-09-30 22:00:00
336773  BNA       NaN       764    12      10  2013-09-30 12:00:00
336774  CLE       NaN       419    11      59  2013-09-30 11:00:00
336775  RDU       NaN       431     8      40  2013-09-30 08:00:00

[336776 rows x 20 columns]

In [ ]:
#Filtrar por tiempo de demora
flights_delay=flights.loc[flights.arr_delay<=3]
flights_delay

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
7,8,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01 06:00:00
8,9,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00
10,11,2013,1,1,558.0,600,-2.0,849.0,851,-2.0,B6,49,N793JB,JFK,PBI,149.0,1028,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336765,336766,2013,9,30,2240.0,2245,-5.0,2334.0,2351,-17.0,B6,1816,N354JB,JFK,SYR,41.0,209,22,45,2013-09-30 22:00:00
336766,336767,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-09-30 22:00:00
336767,336768,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,22,46,2013-09-30 22:00:00
336768,336769,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00
336769,336770,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00

In [21]:
#Volaron a Houston 
flights_houston = flights.loc[(flights.dest == 'IAH') | (flights.dest == 'HOU'), :]
flights_houston

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
32,33,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,2013-01-01 06:00:00
81,82,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,2013-01-01 07:00:00
89,90,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,2013-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336524,336525,2013,9,30,1729.0,1720,9.0,2001.0,2010,-9.0,UA,652,N455UA,EWR,IAH,173.0,1400,17,20,2013-09-30 17:00:00
336527,336528,2013,9,30,1735.0,1715,20.0,2010.0,2005,5.0,WN,2067,N296WN,EWR,HOU,188.0,1411,17,15,2013-09-30 17:00:00
336618,336619,2013,9,30,1859.0,1859,0.0,2134.0,2159,-25.0,UA,1128,N14731,LGA,IAH,180.0,1416,18,59,2013-09-30 18:00:00
336694,336695,2013,9,30,2015.0,2015,0.0,2244.0,2307,-23.0,UA,1545,N17730,EWR,IAH,174.0,1400,20,15,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00

In [ ]:
#Operador por United, American or Southwest

In [25]:
#Partieron en primavera 
flights_spring = flights.loc[flights.month.isin([3, 4, 5, 6])]
flights_spring

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
136247,136248,2013,3,1,4.0,2159,125.0,318.0,56,142.0,B6,11,N706JB,JFK,FLL,166.0,1069,21,59,2013-03-01 21:00:00
136248,136249,2013,3,1,50.0,2358,52.0,526.0,438,48.0,B6,707,N794JB,JFK,SJU,198.0,1598,23,58,2013-03-01 23:00:00
136249,136250,2013,3,1,117.0,2245,152.0,223.0,2354,149.0,B6,608,N328JB,JFK,PWM,48.0,273,22,45,2013-03-01 22:00:00
136250,136251,2013,3,1,454.0,500,-6.0,633.0,648,-15.0,US,1117,N177US,EWR,CLT,79.0,529,5,0,2013-03-01 05:00:00
136251,136252,2013,3,1,505.0,515,-10.0,746.0,810,-24.0,UA,475,N527UA,EWR,IAH,199.0,1400,5,15,2013-03-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250445,250446,2013,6,30,NaN,1945,NaN,NaN,2104,NaN,EV,5714,N836AS,JFK,IAD,NaN,228,19,45,2013-06-30 19:00:00
250446,250447,2013,6,30,NaN,1610,NaN,NaN,1805,NaN,EV,4092,N16147,EWR,DAY,NaN,533,16,10,2013-06-30 16:00:00
250447,250448,2013,6,30,NaN,1709,NaN,NaN,1856,NaN,EV,4662,N16911,EWR,RDU,NaN,416,17,9,2013-06-30 17:00:00
250448,250449,2013,6,30,NaN,2059,NaN,NaN,2307,NaN,EV,5254,N760EV,LGA,DSM,NaN,1031,20,59,2013-06-30 20:00:00
250449,250450,2013,6,30,NaN,1915,NaN,NaN,2131,NaN,EV,5268,N744EV,LGA,CLT,NaN,544,19,15,2013-06-30 19:00:00

2. ¿Cuántos vuelos tienen un valor faltante en la variable `dep_time`? ¿Qué otras variables tienen valores faltantes? ¿Qué podrían representar estas filas?

In [ ]:
# Solución
null_sum = flights.isnull().sum()
null_sum
# Repsuesa: estas filas deberían representar el número de valores faltantes o vacíos a través de las diferentes variables de la base de datos

Unnamed: 0           0
year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [ ]:
# Específicamente 
null_sum["dep_time"]
# Respuesta: este valor representa solamente el número de valores faltantes o vacíos en la variable "dep_time"

np.int64(8255)

3. Ordena los vuelos para encontrar los vuelos con mayor retraso en el tiempo de llegada.

In [69]:
# Solución
flights_delay_arr=flights.groupby("arr_delay").size()
flights_delay_arr= flights_delay_arr.sort_values(ascending=False)
print(flights_delay_arr)

arr_delay
-13.0      7177
-10.0      7088
-12.0      7046
-14.0      6975
-11.0      6863
           ...
 612.0        1
 614.0        1
 616.0        1
 821.0        1
 1272.0       1
Length: 577, dtype: int64

4. Encuentra los 5 vuelos que salieron más temprano en relación con su hora de salida programada. Muestra únicamente el código del avión (`tail_num`), la fecha y el número de minutos que salieron temprano.

In [59]:
# Solución
flights['date'] = pd.to_datetime(flights[['year', 'month', 'day']])
flights_early_dep_=flights.groupby(["dep_time","tailnum","date"]).size()
flights_early_dep_ = flights_early_dep_.sort_values(ascending=True)
print( flights_early_dep_)

dep_time  tailnum  date
2400.0    N649JB   2013-04-20    1
          N641JB   2013-03-22    1
          N636JB   2013-03-15    1
          N629JB   2013-11-27    1
          N612JB   2013-03-25    1
                                ..
          N766JB   2013-02-07    1
          N828JB   2013-09-02    1
          N910DE   2013-09-12    1
          N945DL   2013-07-28    1
1.0       N206JB   2013-01-13    1
Length: 328521, dtype: int64

5. Actualmente, las variables `dep_time` y `arr_time` son convenientes para observar, pero difíciles de usar para cálculos porque no son números realmente continuos. Conviértelos en el número de minutos desde la medianoche en nuevas variables llamadas `arr_time_min` y `dep_time_min`.

In [67]:
# Solución
flights['arr_time_min'] = flights['arr_time']*(60/100)
flights['dep_time_min'] = flights['dep_time']*(60/100)
print(flights)

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
0                1  2013      1    1     517.0             515        2.0
1                2  2013      1    1     533.0             529        4.0
2                3  2013      1    1     542.0             540        2.0
3                4  2013      1    1     544.0             545       -1.0
4                5  2013      1    1     554.0             600       -6.0
...            ...   ...    ...  ...       ...             ...        ...
336771      336772  2013      9   30       NaN            1455        NaN
336772      336773  2013      9   30       NaN            2200        NaN
336773      336774  2013      9   30       NaN            1210        NaN
336774      336775  2013      9   30       NaN            1159        NaN
336775      336776  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay  ... origin  dest air_time  \
0          830.0             819       11.0  ...    EWR   IAH    227.0
1          850.0             830       20.0  ...    LGA   IAH    227.0
2          923.0             850       33.0  ...    JFK   MIA    160.0
3         1004.0            1022      -18.0  ...    JFK   BQN    183.0
4          812.0             837      -25.0  ...    LGA   ATL    116.0
...          ...             ...        ...  ...    ...   ...      ...
336771       NaN            1634        NaN  ...    JFK   DCA      NaN
336772       NaN            2312        NaN  ...    LGA   SYR      NaN
336773       NaN            1330        NaN  ...    LGA   BNA      NaN
336774       NaN            1344        NaN  ...    LGA   CLE      NaN
336775       NaN            1020        NaN  ...    LGA   RDU      NaN

       distance hour  minute            time_hour       date  arr_time_min  \
0          1400    5      15  2013-01-01 05:00:00 2013-01-01         498.0
1          1416    5      29  2013-01-01 05:00:00 2013-01-01         510.0
2          1089    5      40  2013-01-01 05:00:00 2013-01-01         553.8
3          1576    5      45  2013-01-01 05:00:00 2013-01-01         602.4
4           762    6       0  2013-01-01 06:00:00 2013-01-01         487.2
...         ...  ...     ...                  ...        ...           ...
336771      213   14      55  2013-09-30 14:00:00 2013-09-30           NaN
336772      198   22       0  2013-09-30 22:00:00 2013-09-30           NaN
336773      764   12      10  2013-09-30 12:00:00 2013-09-30           NaN
336774      419   11      59  2013-09-30 11:00:00 2013-09-30           NaN
336775      431    8      40  2013-09-30 08:00:00 2013-09-30           NaN

       dep_time_min
0             310.2
1             319.8
2             325.2
3             326.4
4             332.4
...             ...
336771          NaN
336772          NaN
336773          NaN
336774          NaN
336775          NaN

[336776 rows x 23 columns]

6. Esperamos que `air_time` y la diferencia `arr_time_min` - `dep_time_min` sean iguales, pero no lo son. ¿Por qué no? Identifica un problema importante con los datos y uno más sutil.

In [ ]:
# Solución
# Respuesta: Un problema con los datos pueden ser los valores atípicos, que alteren el sentido de la comparación. Mientras que un problema más sutil puede ser la demora que existe entre el despegue, por ejemplo, y el abordaje; o el aterrizaje y el desembarque. Donde pueden haber diferentes factores que impliquen una demora, o un agilizador.

7. Encuentra los 5 vuelos con mayor retraso.

In [70]:
# Solución
flights_delay= flights_delay_arr.sort_values(ascending=False).head(5)
print(flights_delay)

arr_delay
-13.0    7177
-10.0    7088
-12.0    7046
-14.0    6975
-11.0    6863
dtype: int64

8. Calcula los retrasos promedio por destino para vuelos que se originan en Nueva York (NYC). Crea una variable que clasifique los destinos de peor a mejor, donde 1 representa el peor lugar en el ranking.

In [ ]:
# Solución
flights_nyc = flights.loc[flights.origin == 'JFK']
print(flights_nyc)

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
2                3  2013      1    1     542.0             540        2.0
3                4  2013      1    1     544.0             545       -1.0
8                9  2013      1    1     557.0             600       -3.0
10              11  2013      1    1     558.0             600       -2.0
11              12  2013      1    1     558.0             600       -2.0
...            ...   ...    ...  ...       ...             ...        ...
336766      336767  2013      9   30    2240.0            2250      -10.0
336767      336768  2013      9   30    2241.0            2246       -5.0
336768      336769  2013      9   30    2307.0            2255       12.0
336769      336770  2013      9   30    2349.0            2359      -10.0
336771      336772  2013      9   30       NaN            1455        NaN

        arr_time  sched_arr_time  arr_delay  ... origin  dest air_time  \
2          923.0             850       33.0  ...    JFK   MIA    160.0
3         1004.0            1022      -18.0  ...    JFK   BQN    183.0
8          838.0             846       -8.0  ...    JFK   MCO    140.0
10         849.0             851       -2.0  ...    JFK   PBI    149.0
11         853.0             856       -3.0  ...    JFK   TPA    158.0
...          ...             ...        ...  ...    ...   ...      ...
336766    2347.0               7      -20.0  ...    JFK   BUF     52.0
336767    2345.0               1      -16.0  ...    JFK   ROC     47.0
336768    2359.0            2358        1.0  ...    JFK   BOS     33.0
336769     325.0             350      -25.0  ...    JFK   PSE    196.0
336771       NaN            1634        NaN  ...    JFK   DCA      NaN

       distance hour  minute            time_hour       date  arr_time_min  \
2          1089    5      40  2013-01-01 05:00:00 2013-01-01         553.8
3          1576    5      45  2013-01-01 05:00:00 2013-01-01         602.4
8           944    6       0  2013-01-01 06:00:00 2013-01-01         502.8
10         1028    6       0  2013-01-01 06:00:00 2013-01-01         509.4
11         1005    6       0  2013-01-01 06:00:00 2013-01-01         511.8
...         ...  ...     ...                  ...        ...           ...
336766      301   22      50  2013-09-30 22:00:00 2013-09-30        1408.2
336767      264   22      46  2013-09-30 22:00:00 2013-09-30        1407.0
336768      187   22      55  2013-09-30 22:00:00 2013-09-30        1415.4
336769     1617   23      59  2013-09-30 23:00:00 2013-09-30         195.0
336771      213   14      55  2013-09-30 14:00:00 2013-09-30           NaN

       dep_time_min
2             325.2
3             326.4
8             334.2
10            334.8
11            334.8
...             ...
336766       1344.0
336767       1344.6
336768       1384.2
336769       1409.4
336771          NaN

[111279 rows x 23 columns]

In [86]:
#Primero quitar los null
null_sum = flights_nyc.isna().sum()
flights_nyc.columns[ null_sum < len( flights_nyc ) * 0.2 ] 
flights_nyc.drop(columns = flights_nyc.columns[null_sum > len( flights_nyc ) * 0.2 ], inplace = True )

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_39888\1759284142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_nyc.drop(columns = flights_nyc.columns[null_sum > len( flights_nyc ) * 0.2 ], inplace = True )

In [90]:
#Ahora si, calcular promedio por destino
mean_arr_delay=flights_nyc.groupby("dest")["arr_delay"].mean()
mean_arr_delay

dest
ABQ     4.381890
ACK     4.852273
ATL     6.273958
AUS    10.294360
BHM   -19.000000
         ...
SRQ     0.747881
STL    -8.000000
STT    -6.372727
SYR     9.015480
TPA     7.656155
Name: arr_delay, Length: 70, dtype: float64

In [93]:
#Creando una clasificación de 1 a 5, donde 1 es el peor y 5 el mejor (utilizando pd.qcut para ordenar según quintiles)
mean_arr_delay_clasificado = pd.qcut(mean_arr_delay, 5, labels=[1, 2, 3, 4, 5])
print(mean_arr_delay_clasificado)

dest
ABQ    2
ACK    2
ATL    3
AUS    4
BHM    1
      ..
SRQ    1
STL    1
STT    1
SYR    4
TPA    3
Name: arr_delay, Length: 70, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

9. Calcula la demora promedio por aerolínea

In [95]:
# Solución
aerolíneas=flights.groupby("carrier")["arr_delay"].mean()
print(aerolíneas)

carrier
9E     7.379669
AA     0.364291
AS    -9.930889
B6     9.457973
DL     1.644341
EV    15.796431
F9    21.920705
FL    20.115906
HA    -6.915205
MQ    10.774733
OO    11.931034
UA     3.558011
US     2.129595
VX     1.764464
WN     9.649120
YV    15.556985
Name: arr_delay, dtype: float64

In [100]:
#Aerolínea 9E
mean_9E=aerolíneas["9E"]
mean_9E

np.float64(7.379669249450677)

10. El promedio del retraso en la llegada puede no ser la mejor métrica. Enuncie al menos 3 formas adicionales de evaluar las características típicas de los retrasos de un grupo de vuelos.

In [ ]:
# Solución
# Respuesta:
    #1. Comparación entre la hora de salida estipulada y la hora de salida real, es decir, el retraso en la hora de salida.
    #2. La hora de salida ("dep_time") y la hora de llegada ("arr_time") vs. el tiempo de vuelo ("air_time"), debido a los retrasos que pueden existir entre el abordaje y el despegue.
    #3. La comparación entre el tiempo de demora promedio vs la demora de un avión en particular, viendo si hay una demora mayor al promedio o no.

## **Pobreza y vulnerabilidad**

Siguiendo el ejericio de clase, descargue los módulo Sumaria de la Enaho para los años 2019 y 2023. Para ello, utilice la página de [microdatos del INEI](https://proyectos.inei.gob.pe/microdatos/).

>Ojo: debe utilizar la encuesta `ENAHO Metología ACTUALIZADA` del tipo `Condiciones de Vida y Pobreza - ENAHO` y período `Anual - (Ene-Dic)`. Pueden descargar en formato `.csv`, `.sav`, `.dta`. Use el formato con el que sienta más cómodo. Además, recuerde que es clave revisar el diccionario de datos (por ejemplo, `Diccionario2023.pdf`) que encontrará al descargar los archivos

1. ¿Cuántos hogares fueron encuestados en 2023? ¿Y en 2019? ¿Cuál es la población estimada para dichos años?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 2 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución

2. ¿Cuántos pobres (extremos y no extremos) se alcanzaron en 2019 y en 2023? ¿En cuánto se incrementó la pobreza en términos absolutos y relativos?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 12 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución

3. ¿Cuántos pobres extremos se alcanzaron en 2019 y en 2023? ¿En cuánto se incrementó la pobreza exterma en términos absolutos y relativos?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 15 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución

4. ¿Cuál es el tamaño de la población bajo vulnerabilidad 2023 en términos relativos? ¿Y en 2019? ¿Se incrementó,mantuvo o redujo?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 8 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución

5. Opcional 1: ¿Cuál es el tamaño de la pobreza (extrema y no extrema) en Lima Metropolitana en 2023? Calcule en términos absolutos y relativos. ¿Cómo cambian sus cifras versus los datos de 2019?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 14 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución

6. Opcional 2: A partir de la pregunta previa, revise sus cálculos por regiones. ¿Dónde subió/bajó más la pobreza?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 14 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución